s08qV8zXv28UPTp8-E_commerce_Price_Monitoring_and_Multi_Channel_Deal_Alert_System.json
{
  "name": "E-commerce Price Monitoring and Multi-Channel Deal Alert System",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "8b861c97-ff81-4a4a-8209-a74941c6068e",
      "name": "Daily Price Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        832
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appuBILxxFSPzG2dc",
          "mode": "list",
          "cachedResultName": "Price Tracker",
          "cachedResultUrl": "https://airtable.com/appuBILxxFSPzG2dc"
        },
        "table": {
          "__rl": true,
          "value": "tblbpji7U5vWKmmES",
          "mode": "list",
          "cachedResultName": "Products",
          "cachedResultUrl": "https://airtable.com/appuBILxxFSPzG2dc/tblbpji7U5vWKmmES"
        },
        "options": {}
      },
      "id": "489ccc3a-ec93-4be2-8a99-0575380e1af2",
      "name": "Fetch Product List",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        480,
        832
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "qjnJedkvKTOaMBDL",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "00067700-0f67-4d5d-af85-c138287e1392",
      "name": "Process One by One",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        832
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.fields.URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "th-TH,th;q=0.9,en-US;q=0.8,en;q=0.7"
            },
            {
              "name": "Referer",
              "value": "https://www.google.com/"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "b7ac58af-ad39-4a4a-9afd-104c27f55047",
      "name": "Scrape Product Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        704
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "price",
              "cssSelector": ".price_total, .price_block strong, b.text-primary"
            }
          ]
        },
        "options": {}
      },
      "id": "bd6d1ad5-5cb4-498f-b014-cddc2a6434db",
      "name": "Extract Price",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1152,
        688
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "error_type",
              "value": "scraping_failed",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "product_name",
              "value": "={{ $('Process One by One').item.json.fields['Product Name'] }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "product_url",
              "value": "={{ $('Process One by One').item.json.fields.URL }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "error_message",
              "value": "={{ $json.error.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2b9eddb-755e-4bff-94e4-bdcd123377c4",
      "name": "Handle Scraping Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        1072
      ]
    },
    {
      "parameters": {
        "jsCode": "// ดึงข้อมูลทั้งหมดที่ส่งเข้ามา\nconst items = $input.all();\n\nfor (let i = 0; i < items.length; i++) {\n  // ดึงค่า price จาก Node ก่อนหน้า (Extract Price)\n  let priceRaw = items[i].json.price || \"0\";\n\n  // 1. ลบเครื่องหมาย ฿, คอมม่า (,) และช่องว่างออก\n  let cleanedPrice = priceRaw.toString()\n    .replace(/[฿,]/g, '')\n    .trim();\n\n  // 2. แปลงเป็นตัวเลขทศนิยม\n  let priceNumber = parseFloat(cleanedPrice);\n\n  // 3. ตรวจสอบว่าถ้าแปลงไม่ได้ (ไม่ใช่ตัวเลข) ให้เป็น 0\n  if (isNaN(priceNumber)) {\n    priceNumber = 0;\n  }\n\n  // 4. ส่งค่ากลับออกไปในชื่อตัวแปรที่ Node ถัดไปเรียกใช้\n  items[i].json.price = priceNumber;         // สำหรับเปรียบเทียบใน IF Node\n  items[i].json.current_price = priceNumber; // สำหรับบันทึกลง Airtable และ AI\n}\n\nreturn items;"
      },
      "id": "8aed708a-e0d7-4781-b985-627c05636ea9",
      "name": "Clean Price Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.price }}",
              "rightValue": "={{ $('Process One by One').item.json.fields['Target Price'] }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "781d78f9-92e3-4406-9717-f8acc4819249",
      "name": "Check Price Drop",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1600,
        688
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "content": "=Analyze this deal:\n\nProduct Name: {{ $('Process One by One').item.json.fields['Product Name'] }}\nOriginal Price: {{ $('Process One by One').item.json.fields['Target Price'] }}\nCurrent Price: {{ $json.current_price }}\n\nWrite a short recommendation about whether this is a good deal."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "2381028d-1342-47d2-b658-660b68e9c346",
      "name": "Analyze Deal",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1808,
        672
      ],
      "credentials": {
        "openAiApi": {
          "id": "xgwf4yXllMdAwhWS",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appuBILxxFSPzG2dc",
          "mode": "list",
          "cachedResultName": "Price Tracker",
          "cachedResultUrl": "https://airtable.com/appuBILxxFSPzG2dc"
        },
        "table": {
          "__rl": true,
          "value": "tblbpji7U5vWKmmES",
          "mode": "list",
          "cachedResultName": "Products",
          "cachedResultUrl": "https://airtable.com/appuBILxxFSPzG2dc/tblbpji7U5vWKmmES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Process One by One').item.json.id }}",
            "Current Price": 0,
            "Target Price": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Target Price",
              "displayName": "Target Price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Current Price",
              "displayName": "Current Price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Update",
              "displayName": "Last Update",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Price Status",
              "displayName": "Price Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Below Target",
                  "value": "Below Target"
                },
                {
                  "name": "At Target",
                  "value": "At Target"
                },
                {
                  "name": "Above Target",
                  "value": "Above Target"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Price_History",
              "displayName": "Price_History",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a1c5ae2b-befb-4a25-b95c-4d6bb987936d",
      "name": "Update Main Table",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        2384,
        672
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "qjnJedkvKTOaMBDL",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appuBILxxFSPzG2dc",
          "mode": "list",
          "cachedResultName": "Price Tracker",
          "cachedResultUrl": "https://airtable.com/appuBILxxFSPzG2dc"
        },
        "table": {
          "__rl": true,
          "value": "tblwNHciILLUnTSDt",
          "mode": "list",
          "cachedResultName": "Price_History",
          "cachedResultUrl": "https://airtable.com/appuBILxxFSPzG2dc/tblwNHciILLUnTSDt"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Product_Name": "={{ $json.fields['Product Name'] }}",
            "Price": "={{ $('Check Price Drop').item.json.price }}",
            "Check_Date": "={{ $now.toISO() }}",
            "URL": "={{ $json.fields.URL }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Product_Name",
              "displayName": "Product_Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Check_Date",
              "displayName": "Check_Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7c268ddf-f74d-47e7-a41c-1bfbb833841f",
      "name": "Log to Price History",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        2624,
        672
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "qjnJedkvKTOaMBDL",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8fcd78de-f014-4d18-812a-02ebd810aed0",
      "name": "Merge Paths",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        1008
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "to": "U1a25078dc817511705bf585d0a924db7",
        "messages": {
          "values": [
            {
              "text": "=🎉 ดีลเด็ดมาแล้ว! {{ $('Process One by One').item.json.fields['Product Name'] }} ลดเหลือ {{ $('Check Price Drop').item.json.price }} บาท! ช้อปเลย: {{ $('Process One by One').item.json.fields.URL }} 💡 ความคุ้มค่าจาก AI: {{ $json.output[0].content[0].text }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        2176,
        672
      ],
      "id": "c45347a6-f313-448e-8303-733a2c2af2db",
      "name": "Line Messaging",
      "credentials": {
        "lineMessagingApi": {
          "id": "fxphU6uRxDTfj0fB",
          "name": "Line Messaging account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "to": "U1a25078dc817511705bf585d0a924db7",
        "messages": {
          "values": [
            {
              "text": "=⚠️ ระบบ Scraping พัง! สินค้า: {{ $json.product_name }} (URL: {{ $json.product_url }}) รบกวนรีบตรวจสอบ CSS Selector ด้วยครับ"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        2624,
        1072
      ],
      "id": "76159df4-4dbe-48c8-b21e-d60f8aa85d6b",
      "name": "Line Messaging1",
      "credentials": {
        "lineMessagingApi": {
          "id": "fxphU6uRxDTfj0fB",
          "name": "Line Messaging account 3"
        }
      }
    }
  ],
  "connections": {
    "Daily Price Check": {
      "main": [
        [
          {
            "node": "Fetch Product List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Product List": {
      "main": [
        [
          {
            "node": "Process One by One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One by One": {
      "main": [
        [],
        [
          {
            "node": "Scrape Product Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Product Page": {
      "main": [
        [
          {
            "node": "Extract Price",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Scraping Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Price": {
      "main": [
        [
          {
            "node": "Clean Price Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Price Data": {
      "main": [
        [
          {
            "node": "Check Price Drop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Scraping Error": {
      "main": [
        [
          {
            "node": "Line Messaging1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Price Drop": {
      "main": [
        [
          {
            "node": "Analyze Deal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Deal": {
      "main": [
        [
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Main Table": {
      "main": [
        [
          {
            "node": "Log to Price History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Price History": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Process One by One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line Messaging": {
      "main": [
        [
          {
            "node": "Update Main Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line Messaging1": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Daily Price Check": {
      "recurrenceRules": []
    }
  },
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}